<?xml version="1.0"?>
<launch>

  <arg name="scan_topic" default="scan" />
  <arg name="map_file" default="$(find husky_navigation)/maps/my_map.yaml"/>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <node pkg="amcl" type="amcl" name="amcl">
    <rosparam file="$(find my_amcl_launcher)/params/my_amcl_params.yaml" command="load" />
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>

</launch>